table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
}
td {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
tr:nth-child(even) {
    background-color: #f3f3f3;
}
.center {
  text-align: center;
}
